@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: #FFCF4E;
  color: #785f1a;
}

* {
  scrollbar-width: none;
}

/* .perspective-50 {
  perspective: 50px;
}

.transform-rotate-x {
  transform: rotateX(2deg);
} */
